<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Assignment of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.subtitle.input}"></h2>
    <p th:text="#{content.message}"></p>

    <p th:if="${previous != null}"
        th:text="#{content.oldval.pre} + ${previous} + #{content.oldval.suf}">
    </p>

    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit" th:text="#{content.submit}"></button>
    </form>
</body>
</html>